Repository powerfulyang/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

feat: configure for automated publication and actions
  .gitattributes
  .github/workflows/release-please.yml
  .gitignore
  .husky/commit-msg
  .jest/jest.config.ts
  .jest/jest.setup.ts
  .lintstagedrc
  .versionrc.json
  CHANGELOG.md
  commitlint.config.js
  init.js
  jest.config.js
  package-lock.json
  package.json
  src/__test__/useImmer.spec.ts
  src/hooks/useBeforeUnload.ts
  src/hooks/useEffectOnState.ts
  src/hooks/useLockScroll.ts
  src/hooks/usePageQuery.ts
  src/hooks/usePortal.tsx
  src/hooks/usePreviousRef.ts
  src/hooks/useRafImmer.ts
  src/hooks/useRafState.ts
  src/index.ts
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
  tsconfig.module.json
  tsconfig.types.json
Due: prettier --write, eslint --fix

feat: configure for automated publication and actions
  .gitattributes
  .github/workflows/release-please.yml
  .gitignore
  .husky/commit-msg
  .jest/jest.config.ts
  .jest/jest.setup.ts
  .lintstagedrc
  CHANGELOG.md
  commitlint.config.js
  init.js
  jest.config.js
  package-lock.json
  package.json
  src/__test__/useImmer.spec.ts
  src/hooks/useBeforeUnload.ts
  src/hooks/useEffectOnState.ts
  src/hooks/useLockScroll.ts
  src/hooks/usePageQuery.ts
  src/hooks/usePortal.tsx
  src/hooks/usePreviousRef.ts
  src/hooks/useRafImmer.ts
  src/hooks/useRafState.ts
  src/index.ts
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
  tsconfig.module.json
  tsconfig.types.json
Due: prettier --write, eslint --fix

fix: usePortal.tsx define incorrectly
  src/hooks/usePortal.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

fix: fix(deps): update dependency @powerfulyang/lint to v1.0.2
  .commitlintrc.js
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: usePortal.tsx define incorrectly
  CHANGELOG.md
  package-lock.json
  package.json
  src/hooks/usePortal.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

fix: 前端打包还是 rollup 靠谱
  .jest/jest.setup.ts
  check.js
  init.js
  jest.config.js
  package-lock.json
  package.json
  rollup.config.js
  src/__test__/useImmer.spec.ts
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
  tsconfig.types.json
Due: prettier --write, eslint --fix

fix(package.json): typo
  package.json
Due: prettier --write

fix(tsconfig.json): react-jsx 到底是个啥玩意啊，前端远离 tsc
  CHANGELOG.md
  src/hooks/usePortal.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix: useImmerReducer.ts import incorrect produce
  src/hooks/useImmer.ts
  src/hooks/useImmerReducer.ts
Due: prettier --write, eslint --fix

chore(deps): update dependency @types/react to v18.0.8
  package.json
Due: prettier --write

fix(deps): update react monorepo to v18.1.0
  package.json
Due: prettier --write

chore(deps): update dependency @types/react-dom to v18.0.3
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.71.0
  package.json
Due: prettier --write

feat: new version linter
  .eslintrc.js
  jest.config.js
  package-lock.json
  package.json
  rollup.config.js
  src/__test__/useImmer.spec.ts
  src/hooks/useRenderCount.ts
Due: prettier --write, eslint --fix

chore(deps): update dependency @powerfulyang/lint to v1.4.12
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @powerfulyang/lint to v1.6.0
  package-lock.json
  package.json
Due: prettier --write

fix: declaration paths didn't transform
  .github/workflows/release-please.yml
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(deps): update google-github-actions/release-please-action action to v3.2.2
  .github/workflows/release-please.yml
Due: none

chore(deps): update dependency @testing-library/react to v13.2.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update actions/setup-node action to v3.2.0
  .github/workflows/release-please.yml
Due: none

chore(deps): update google-github-actions/release-please-action action to v3.2.3
  .github/workflows/release-please.yml
Due: none

chore(deps): update google-github-actions/release-please-action action to v3.2.4
  .github/workflows/release-please.yml
Due: none

chore(deps): update google-github-actions/release-please-action action to v3.2.5
  .github/workflows/release-please.yml
Due: none

chore(deps): update dependency @testing-library/react to v13.3.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update google-github-actions/release-please-action action to v3.2.6
  .github/workflows/release-please.yml
Due: none

chore(deps): update actions/setup-node action to v3.3.0
  .github/workflows/release-please.yml
Due: none

chore(deps): update dependency @rollup/plugin-typescript to v8.3.3
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,js,mjs,mts,cjs,cts,scss,md}
  eslint --fix: any of: **/*.{ts,tsx,js,mjs,mts,cjs,cts}
  stylelint --fix: any of: **/*.scss
