Repository powerfulyang/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore(deps): update dependency @rollup/plugin-typescript to v8.3.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @powerfulyang/lint to v2.0.2
  package-lock.json
  package.json
Due: prettier --write

chore: code clean up and use pnpm instead of npm
  .github/workflows/release-please.yml
  .gitignore
  .npmrc
  package-lock.json
  package.json
  src/hooks/useImmer.ts
  src/hooks/useRafImmer.ts
Due: prettier --write, eslint --fix

feat: typescript explicitly
  package.json
Due: prettier --write

feat: @powerfulyang/lint@3.1.0
  .gitignore
  .npmrc
  jest.config.js
  package.json
  src/hooks/useOutsideClick.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat: components -> tooltip, hooks -> useLatest
  src/hooks/useLatest.ts
  src/hooks/usePortal.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: components -> Menu:focus should listen press arrowUp/arrowDown/l/r event
  tsconfig.json
Due: prettier --write

fix: components -> menu, activeKey
  .husky/pre-commit
  jest.config.js
  package.json
  src/hooks/useRafImmer.ts
Due: prettier --write, eslint --fix

feat: back to top
  package.json
  src/hooks/useScrollDirection.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat: useScrollDirection
  package.json
  src/hooks/useScrollDirection.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore: sync libraries
  package.json
  rollup.config.mjs
Due: prettier --write, eslint --fix

feat: add unit test for usePrevious, drop some useless hooks
  .jest/jest.setup.ts
  check.js
  src/hooks/useEffectOnState.ts
  src/hooks/useImmer.spec.ts
  src/hooks/useLatest.ts
  src/hooks/useOutsideClick.ts
  src/hooks/usePageLeave.ts
  src/hooks/usePageQuery.ts
  src/hooks/usePortal.ts
  src/hooks/usePrevious.spec.ts
  src/hooks/usePrevious.ts
  src/hooks/usePreviousRef.ts
  src/hooks/useRafImmer.ts
  src/hooks/useScrollDirection.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: swc didn't compile optional chaining usage in node_modules
  tsconfig.json
Due: prettier --write

chore: 让代码更容易懂点
  src/hooks/useImmer.spec.ts
  src/hooks/usePortal.ts
Due: prettier --write, eslint --fix

chore: code stash
  src/hooks/usePortal.ts
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: update
  .gitignore
  package.json
  renovate.json
Due: prettier --write

chore: update
  .github/workflows/release-please.yml
Due: none

chore: monorepo type declaration
  .npmrc
  jest.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

fix: pnpm .npmrc expose dependency
  .github/workflows/test.yml
  .gitignore
  .npmrc
  jest.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
  rollup.config.mjs
  src/hooks/useImmer.ts
  src/hooks/useImmerReducer.ts
  src/index.ts
  tsconfig.build.json
Due: prettier --write, eslint --fix

feat: jest from @jest/globals
  .github/workflows/release-please.yml
  .github/workflows/test.yml
  .npmrc
  package.json
  pnpm-lock.yaml
  rollup.config.mjs
  src/__test__/immer.spec.ts
  src/hooks/useImmer.spec.ts
  src/hooks/usePrevious.spec.ts
Due: prettier --write, eslint --fix

chore(pnpm): update .npmrc
  .npmrc
Due: none

fix: immer side effects
  package.json
  pnpm-lock.yaml
  src/effect.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: immer enableMapSet sideEffects
  package.json
  src/effect.ts
  src/hooks/useImmer.ts
  src/hooks/useImmerReducer.ts
  src/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,js,mjs,mts,cjs,cts,scss,md}
  eslint --fix: any of: **/*.{ts,tsx,js,mjs,mts,cjs,cts}
  stylelint --fix: any of: **/*.scss
